{% extends 'base.html' %}

{% block title %} Dashboard {% endblock %}

{% block content %}
<div class = "container mt-4">

  <div class ="row">
      <div class="card col-md-4 shadow-sm text-center mb-4">
        <div class="card-body">
          <h3 class="card-title"> Blog Post </h3>
          <p class="card-text">Got something on your mind? Use your platform to get your ideas out to your audience. </p>
          <a href="{{ url_for('blog.add_post') }}" class="btn btn-primary"> Add Blog Post </a>
        </div>
      </div>

      <div class="card col-md-4 shadow-sm text-center mb-4">
        <div class="card-body">
          <h3 class="card-title"> Landing Page </h3>
          <p class="card-text">Want to get more customers to your new product or service? Setup a beautiful call-to-action to get them there. </p>
          <a href="{{ url_for('landing_page.add_landing_page')}}" class="btn btn-primary"> Add Landing Page </a>
        </div>
      </div>

        <div class="card col-md-4 shadow-sm text-center mb-4">
          <div class="card-body">
            <h3 class="card-title"> Product Page </h3>
            <p class="card-text">If you added a new product to your lineup, it's probably time to setup a new product page. </p>
            <a href="{{ url_for('product_page.add_product_page')}}" class="btn btn-primary"> Add Product Page </a>
          </div>
        </div>
  </div>

  <div class="row">
      <div class="card col-md-4 shadow-sm text-center mb-4">
        <div class="card-body">
          <h3 class="card-title"> Live Site </h3>
          <p class="card-text"> See Website </p>
          <a href="{{ url_for('live.live_site',domain=g.user['username']) }}" class="btn btn-primary"> See Live Website </a>
        </div>
      </div>

      <div class="card col-md-4 shadow-sm text-center mb-4">
        <div class="card-body">
          <h3 class="card-title"> Themes </h3>
          <p class="card-text"> Change the color and feel of a webpage </p>
          <a href="{{ url_for('dashboard.themes') }}" class="btn btn-primary"> Themes </a>
        </div>
      </div>

      <div class="card col-md-4 shadow-sm text-center mb-4">
        <div class="card-body">
          <h3 class="card-title"> Address </h3>
          <p class="card-text">Want people to know where you are located? Let them know with the address tool. </p>
          <a href="{{ url_for('address.add_address') }}" class="btn btn-primary"> Address </a>
        </div>
      </div>
  </div>

</div>
{% endblock %}
