{% extends 'base.html' %}

{% block title %} Dashboard {% endblock %}

{% block content %}
<div class = "container mt-4">

  <div class ="row">

    <div class="card-deck mb-3 text-center col-lg-4">
      <div class="card mb-4 shadow-sm">

        <div class="card-header">
          <h4> Add Blog Post </h4>
        </div>

        <div class ="card-body">
          <p> Add a Blog Post </p>
        </div>

        <a href="{{ url_for('blog.add_post') }}" class="button"> Add Post </a>
      </div>
    </div>

    <div class="card-deck mb-3 text-center col-lg-4">
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4> Settings </h4>
        </div>
        <div class ="card-body">
          <p> Edits settings and apperance of the website</p>
        </div>
        <a href="#" class="button"> Settings </a>
      </div>
    </div>

    <div class="card-deck mb-3 text-center col-lg-4">
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4> Quickstart </h4>
        </div>
        <div class ="card-body">
          <p> Sets up a basic website template to get you started </p>
        </div>
        <a href="#" class="button"> Quick Start</a>
      </div>
    </div>

  </div>

  <!-- Row 2 -->
  <div class="row">
    <div class="card-deck mb-3 text-center col-lg-4">
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4> Add Page </h4>
        </div>
        <div class ="card-body">
          <p> Add a Landing Page, Product Page, Content Page </p>
        </div>
        <a href="{{ url_for('page.landing_page')}}" class="button"> Add Page </a>
      </div>
    </div>

      <div class="card-deck mb-3 text-center col-lg-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4> FEATURE </h4>
          </div>
          <div class ="card-body">
            <p> Feature Description HERE </p>
          </div>
          <a href="#" class="button"> add Feature </a>
        </div>
      </div>

      <div class="card-deck mb-3 text-center col-lg-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4> FEATURE </h4>
          </div>
          <div class ="card-body">
            <p> Feature Description HERE </p>
          </div>
          <a href="#" class="button"> add Feature </a>
        </div>
      </div>
    </div>

</div>
{% endblock %}
