{% extends 'base.html' %}

{% block title %} Settings {% endblock %}

{% block content %}

<div class="row">
    <div class="col-lg-6">

      <!-- Font Size -->
      <div class="col-lg-12 form-group">
        <select class="form-control" id="fontSize" onchange="changeFontSize()">
          <option value="12px"> 12 </option>
          <option value="14px"> 14 </option>
          <option value="16px"> 16 </option>
          <option value="20px"> 20 </option>
          <option value="24px"> 24 </option>
        </select>
      </div>

      <!-- Font Family -->
      <div class="col-lg-12 mt-4 form-group">
        <select class="form-control" id="fontFamily" onchange="changeFontFamily()">
          <option value="Times New Roman"> Times New Roman </option>
          <option value="Arial"> Arial </option>
          <option value="Verdana"> Verdana </option>
        </select>
      </div>

      <button type="button" class="btn btn-primary" onclick="changeFontSize()">Save</button>
    </div>

    <div class="col-lg-6">
      <p id="output"> Hello, World! </p>
    </div>

</div>

{% endblock %}
