{% extends 'base.html' %}

{% block title %} Settings {% endblock %}

{% block content %}

<div class="row">
  <div class="row mt-4">
    <div class="col-md-10 offset-md-1">

        <div class="form-group">
          <label for="font-size"> Title Font Size </label>
          <select class="form-control" name="title-font-size" onchange="checkFontSize(this);"">
            <option value="16"> 16 </option>
            <option value="18"> 18 </option>
          </select>
        </div>

        <p> This is a Paragraph Size </p>

        <div class="form-group">
          <label for="font-style"> Paragraph Font Family </label>
          <select class="form-control" name="paragraph-font-style" onchange="#">
            <option value="arial"> Arial </option>
            <option value="times-new-roman"> Times New Roman </option>
          </select>
        </div>

        <p> This is a Font Family </p>
    </div>
  </div>
</div>

{% endblock %}
