{% extends 'base.html' %}

{% block title %} Themes {% endblock %}

{% block content %}

<div class="row">
    <div class="col-lg-12">
        <p class="lightText darkText"> Change and update your theme as you see fit for a proper viewing experience. </p>
        <button class="bg-light form-control" onclick="setActiveStyleSheet('light'); return false;" style="color:#000;">Light Style Sheet</button>
        <button class="bg-dark form-control" onclick="setActiveStyleSheet('dark'); return false;" style="color:#FFF;"> Dark Style Sheet</button>
    </div>
</div>

{% endblock %}
