{% extends 'base.html' %}

{% block title%} New Page {% endblock %}
{% block content %}
<div class="row mt-4">
  <div class="col-md-12">
    <form method="POST" enctype='multipart/form-data'>
        
        <div class="form-group">
          <label for="product-title"> Product Title </label>
          <input name="product-title" class="form-control" id="product-title">
        </div>

        <div class="form-group">
          <label for="product-bulletpoints"> Bulletpoint Description</label>
          <input name="bulletpoint1" class="form-control" placeholder="Bulletpoint #1" id="bulletpoint1">
          <span id="newBulletpoint"></span> 
          <p hidden id="bulletCount">1</p>
          <button type="button" class="btn btn-info mt-2" onclick="addBulletpoint()"> + </button>
          <button type="button" class="btn btn-danger mt-2" onclick="removeBulletpoint()"> - </button>
          <script>
            function addBulletpoint()
            {
              bulletcount = document.getElementById("bulletCount").innerHTML;
              out = parseInt(bulletcount) + 1;

              if(out < 6)
              {
                var y = document.createElement("input");
                y.setAttribute("type","text");
                y.setAttribute("placeholder","Bulletpoint #" + out);
                y.setAttribute("class","form-control");
                
                document.getElementById("bulletCount").innerHTML = out;
                y.setAttribute("id", "bulletpoint" + out);
                document.getElementById("newBulletpoint").appendChild(y);
              }
              else
              {
                alert("Maximum of 5 bullet points is allowed");
              }
            }

            function removeBulletpoint()
            {
              bulletcount = document.getElementById("bulletCount").innerHTML;
              out = parseInt(bulletcount);
              if(out > 1)
              {
                var ele = document.getElementById("bulletpoint" + out);
                ele.parentNode.removeChild(ele);
                document.getElementById("bulletCount").innerHTML = out-1;
              }
              else
              {
                alert("You must have at least 1 bullet");
              }
            }
          </script>
        </div>
        <div class="form-group">
          <label for="product-description"> Product Description </label>
          <input name="product-description" class="form-control" id="product-description">
        </div>

        <label for="product-image"> Product Image </label>
        <div class="input-group">
          <div class="custom-file">
            <input type="file" name="new_file" class="custom-file-input" id="product-image">
            <label class="custom-file-label" class="form-control" for="inputGroupFile02">Choose File</label>
          </div>
        </div>

      <input type="submit" class="btn btn-primary mt-2">
    </form>
  </div>
</div>
{% endblock %}