{% extends 'base.html' %}

{% block title%} New Page {% endblock %}
{% block content %}
<div class="row mt-4">
  <div class="col-md-12">
    <form method="POST" enctype='multipart/form-data'>
        
        <div class="btn-group btn-group-toggle form-group" data-toggle="buttons">
          <label class="btn btn-secondary active">
            <input type="radio" name="options" id="imageLeft" value="imageLeft" autocomplete="off" checked> Image Left
          </label>
          <label class="btn btn-secondary">
            <input type="radio" name="options" id="imageRight" value="imageRight" autocomplete="off"> Image Right
          </label>
        </div>

        <div class="form-group mt-2">
          <label for="product-title"> Product Title </label>
          <input name="product-title" class="form-control" placeholder="What's your Product's Name?" id="product-title">
        </div>

        <div class="form-group">
          <label for="product-bulletpoints"> Bulletpoint Description</label>
          <input name="bulletpoint1" class="form-control" placeholder="Bulletpoint #1" id="bulletpoint1" required>
          <span id="newBulletpoint"></span> 
          <p hidden id="bulletCount">1</p>
          <button type="button" class="btn btn-info mt-2" onclick="addBulletpoint()"> + </button>
          <button type="button" class="btn btn-danger mt-2" onclick="removeBulletpoint()"> - </button>
        </div>
        
        <div class="form-group">
          <label for="product-description"> Product Description </label>
          <input name="product-description" placeholder="Tell me more about your product..." class="form-control" id="product-description">
        </div>

        <label for="product-image"> Product Image </label>
        <div class="input-group">
          <div class="custom-file">
            <input type="file" name="new_file" class="custom-file-input" id="product-image">
            <label class="custom-file-label" class="form-control" for="inputGroupFile02">Choose File</label>
          </div>
        </div>

        <div class="form-group mt-2">
          <label for="buy-button-text"> Buy Button Text </label>
          <input name="buy-button-text" placeholder="What is your button's Call-to-Action?" class="form-control" id="buy-button-text" required>
          <input name="buy-button-link" placeholder="Where should I link to?" class="form-control mt-2" id="buy-button-link">
        </div>

      <input type="submit" class="btn btn-primary mt-2">
    </form>
  </div>
</div>
{% endblock %}