{% extends 'base.html' %}

{% block title%} New Page {% endblock %}

{% block content %}
  <form method="POST">

    <select name="page-types">
      <option value="landing-page"> Landing Page </option>
      <option value="product-page"> Product Page </option>
    </select>

    <label for="heading">Heading</label>
    <input name="heading" id="heading" required>

    <label for="subheading">Sub-heading</label>
    <input name="subheading" id="subheading" required>

    <label for="button-text">Button Text</label>
    <input name="button-text" id="button-text" required>

    <input type="submit" value="Save">

  </form>
{% endblock %}
