{% extends 'base.html' %}

{% block title%} New Page {% endblock %}

{% block content %}
<div class="row mt-4">
  <div class="col-md-10 offset-md-1">
    <form method="POST" enctype='multipart/form-data'>

        <div class="form-group">
          <label for="product-title"> Product Title </label>
          <input name="product-title" class="form-control" id="product-title">
        </div>

        <div class="form-group">
          <label for="product-description"> Product Description </label>
          <input name="product-description" class="form-control" id="product-description">
        </div>

        <label for="product-image"> Product Image </label>
        <div class="input-group">
          <div class="custom-file">
            <input type="file" name="new_file" class="custom-file-input" id="product-image">
            <label class="custom-file-label" class="form-control" for="inputGroupFile02">Choose file</label>
          </div>
        </div>

      <input type="submit" class="btn btn-primary mt-2">
    </form>
  </div>
</div>
{% endblock %}
