{% extends 'base.html' %}

{% block title %} Landing Pages {% endblock %}

{% block content %}
  {% for page in pages %}
    <article class="post">
      {% if g.user['id'] == page['author_id'] %}
      <header>
        <div>
          <h1><a href="{{ url_for('landing_page.new_landing_page', id=page['page_id'], slug=page['url'] )}}"> {{ page['heading'] }}</a></h1>
          <h3>{{ page['url']}} </h3>
        </div>
      </header>
    </article>

    {% if not loop.last %}
      <hr>
    {% endif %}{% endif %}
  {% endfor %}
{% endblock %}
