{% extends 'base.html' %}

{% block title %}Pages{% endblock %}

{% block content %}
  {% for page in pages %}
    <ul>
      <li> <a href="{{ url_for(page.new_page)}}"
    </ul>

    <article class="post">
      <header>
        <div>
          <h1><a href="{{ url_for('blog.post', id=post['post_id'], slug=post['url']) }}"> {{ post['title'] }}</a></h1>
          <h3>{{ post['url']}} </h3>
        </div>
      </header>
      <p class="body">{{ post['body'] }}</p>
    </article>
  {% endfor %}
{% endblock %}
