{% extends 'base.html' %}

{% block title %} Product Pages {% endblock %}

{% block content %}
  {% for page in pages %}
    <article class="post">
      {% if g.user['id'] == page['author_id'] %}
      <header>
        <div>
          <h1><a href="{{ url_for('product_page.new_product_page', slug=page['url']) }}"> {{ page['title'] }}</a></h1>
          <h3>{{ page['url']}} </h3>
        </div>
      </header>
    </article>

    {% if not loop.last %}
      <hr>
    {% endif %}{% endif %}
  {% endfor %}
{% endblock %}
