{% extends 'base.html' %}

{% block title%} New Page {% endblock %}

{% block content %}
<div class="row mt-4">

  <div class="row">

    <div class="col-md-12">
        <button type="button" class="btn btn-info mt-2" onclick="addJumbotron()"> Jumbotron </button>
        <button type="button" class="btn btn-info ml-2 mt-2" onclick="addSignup()"> E-Mail Signup </button>
    </div>
  </div>

  <div class="col-md-10 offset-md-1">

    <form method="POST">
      <div id ="landing-page-display" class="mb-2">
        <!--
        Dynamic Content Goes Here
        -->
      </div>
      <input type="submit" class="btn btn-primary mt-2">
    </form>

  </div>
</div>
{% endblock %}
