{% extends 'base.html' %}

{% block title%} New Page {% endblock %}

{% block content %}
<div class="row mt-4">
  <div class="col-md-10 offset-md-1">
    <form method="POST">

      <div id ="landing-page-display">
        
        <div class="form-group">
          <label for="heading">Heading</label>
          <input name="heading" class="form-control" value = "{{ request.form['heading'] or landing_page['heading']}}" id="heading">
        </div>

        <div class="form-group">
          <label for="subheading">Sub-heading</label>
          <input name="subheading" class="form-control" value = "{{ request.form['subheading'] or landing_page['subheading']}}" id="subheading">
        </div>

        <div class="form-group">
          <label for="button-text">Button Text</label>
          <input name="button-text" class="form-control" value = "{{ request.form['button-text'] or landing_page['button_text']}}" id="button-text">
        </div>

        <div class="form-group">
          <label for="button-url">Button Link</label>
          <input name="button-url" class="form-control" value = "{{ request.form['button-url'] or landing_page['button_url']}}" id="button-url">
        </div>

        <hr/>

        <div class="form-group">
            <label for="signup">E-Mail Call-to-Action</label>
            <input name="signup" class="form-control" value = "{{ request.form['signup'] or landing_page['signup']}}" id="signup">
        </div>

        <hr/>

        <div class="form-group">
            <label for="info-header">Info Header</label>
            <input name="info-header" class="form-control" value = "{{ request.form['info-header'] or landing_page['info_header']}}" id="info-header">

            <label for="info-block">Info Block</label>
            <input name="info-block" class="form-control" value = "{{ request.form['info-block'] or landing_page['info_block']}}" id="info-block">
        </div>

      </div>

      <input type="submit" class="btn btn-primary mt-2">
    </form>

    <hr>

    <form action="{{ url_for('landing_page.delete_page', slug=landing_page['url']) }}" method="post">
      <input class="btn btn-danger danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
    </form>
    
  </div>
</div>
{% endblock %}
