{% extends 'base.html' %}

{% block content %}



    
<div class="container">
    <div class="row">
        <div class="col-sm-12">

          {% if g.user['id'] == landing_page['author_id'] %}
            <button type="button" class="btn btn-info mt-2 moveup"> Up </button>
            <button type="button" class="btn btn-danger mt-2 movedown"> Down </button>
          {% endif %}

          <div class="jumbotron text-center">
              <h1> {{ landing_page['heading'] }}</h1>
              <p> {{ landing_page['subheading'] }} </p>
              <p><a class="btn btn-primary my-2" target="_blank" href="{{ landing_page['button_url'] }}" role="button">{{ landing_page['button_text'] }}</a></p>
          </div> 
        </div>

        <div class="col-sm-12">
            {% if g.user['id'] == landing_page['author_id'] %}
              <button type="button" class="btn btn-info mt-2 moveup"> Up </button>
              <button type="button" class="btn btn-danger mt-2 movedown"> Down </button>
            {% endif %}
            <input name="email" class="form-control" placeholder="Enter E-Mail Address" id="email"> <button type="button" class="btn btn-primary">{{ landing_page['email_cta'] }}</button>
        </div>
    </div>
  
  
</div>

{% if g.user['id'] == landing_page['author_id'] %}
  <a class="action" href="{{ url_for('landing_page.edit_landing_page', slug=landing_page['url']) }}">Edit</a>
{% endif %}
{% endblock %}
