{% extends 'base.html' %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">

    <div class="row">
        <h1> {{ landing_page['heading'] }}</h1>
        <p> {{ landing_page['subheading'] }} </p>
        <p><a class="btn btn-primary my-2" target="_blank" href="{{ landing_page['button_url'] }}" role="button">{{ landing_page['button_text'] }}</a></p>
    </div>
    
  </div>

</div>

{% if g.user['id'] == landing_page['author_id'] %}
  <a class="action" href="{{ url_for('landing_page.edit_landing_page', slug=landing_page['url']) }}">Edit</a>
{% endif %}
{% endblock %}
