<!doctype html>
<title>{% block title %}{% endblock %} | Imprint </title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<div class ="container" id="base">
  <header class="blog-header py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">

      <div class="col-4 pt-1">
        {% if g.user %}
          <p> Hi, {{ g.user['username'] }}! </p>
        {% else %}
          <a class="text-muted" href="{{ url_for('auth.login') }}">Login</a>
        {% endif %}
      </div>

      <div class="col-4 text-center">
        <a class="blog-header-logo text-dark" href="{{ url_for('hello')}}">Imprint</a>
      </div>

      <div class="col-4 d-flex justify-content-end align-items-center">
        {% if not g.user %}
          <a class="btn btn-sm btn-outline-secondary" href="{{ url_for('auth.register') }}">Register</a>
        {% endif %}
      </div>

    </div>
  </header>

  {% if g.user %}
  <div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex">
      <a class="p-2 text-muted" href="{{ url_for('dashboard.admin') }}">Dashboard</a>
      <a class="p-2 text-muted" href="{{ url_for('blog.blog_index') }}">Blog</a>
      <a class="p-2 text-muted" href="{{ url_for('landing_page.landing_index') }}">Landing Pages</a>
      <a class="p-2 text-muted" href="{{ url_for('product_page.product_index') }}">Product Pages</a>
      <a class="p-2 text-muted" href="{{ url_for('address.generateMap') }}">Address</a>
      <a class="p-2 text-muted" href="{{ url_for('auth.logout') }}">Logout</a>
    </nav>
  </div>

  {% endif %}

  {% block content %}{% endblock %}
</div>

<!-- Optional JavaScript -->
<script src="{{ url_for('static', filename='js/script.js') }}"></script>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
