{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}

<div class="jumbotron p-3 p-md-5 text-white rounded bg-dark mt-4">
  <div class="col-md-6 px-0">
    <h1 class="display-4 font-italic">Imprint</h1>
    <p class="lead my-3">The simple and convienent content management system for small business owners</p>
  </div>
</div>

<div class="row mb-2">

  <div class="col-md-4 index-center">

      <div class="card mb-4 box-shadow">
        <img class="card-img-top" src="static/misc/blog.jpg" alt="blog_page" height="225px" width="100%">
        <div class="card-body">
          <h2> Blog </h2>
          <p> Grow your online presence with a blog reel that can get your business' message out to new customers. Customize your text and manage your blog pages in one page. </p>
        </div>
      </div>
  </div>

  <div class = "col-md-4 index-center">
      <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="static/misc/landing.png" alt="blog_page" height="225px" width="100%">
          <div class="card-body">
              <h2> Landing Page </h2>
              <p> Landing pages are amazing tools to convert customers to your product or service. Utilize different modules to great a page that can grab customers quickly. </p>
          </div>
        </div>
  </div>

  <div class = "col-md-4 index-center">
      <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="static/misc/product.jpg" alt="blog_page" height="225px" width="100%">
          <div class="card-body">
              <h2> Product Page </h2>
              <p> Selling a product online? Quickly setup a product page where you can insert images, text, and descriptions to quickly sell your product. </p>
          </div>
        </div>
  </div>

</div>

{% endblock %}
