{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}

<div class="jumbotron p-3 p-md-5 text-white rounded bg-dark mt-4">
  <div class="col-md-6 px-0">
    <h1 class="display-4 font-italic">Imprint</h1>
    <p class="lead my-3">The simple and convienent content management system for small business owners</p>
  </div>
</div>

<div class="row mb-2">
  <div class="col-md-6">

      <div class="card flex-md-row mb-4 shadow-sm h-md-250">
        <div class="card-body d-flex flex-column align-items-start">
          <strong class="d-inline-block mb-2 text-primary">Feature 1</strong>
          <h3 class="mb-0">
            <a class="text-dark" href="#">Blog Capabilities</a>
          </h3>
          <p class="card-text mb-auto">Add, edit, and delete blog posts to your liking!</p>
          <a href="#">Continue reading</a>
        </div>
        <svg class="bd-placeholder-img card-img-right flex-auto d-none d-lg-block" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect fill="#55595c" width="100%" height="100%"/><text fill="#eceeef" dy=".3em" x="50%" y="50%">Thumbnail</text></svg>
      </div>
    </div>

  <div class = "col-md-6">
    <div class="card flex-md-row mb-4 shadow-sm h-md-250">
        <div class="card-body d-flex flex-column align-items-start">
          <strong class="d-inline-block mb-2 text-success">Feature</strong>
          <h3 class="mb-0">
            <a class="text-dark" href="#">3 Types of Pages</a>
          </h3>
          <p class="card-text mb-auto">Need a product page, landing page, or content page? Generat one in a few simple steps. </p>
          <a href="#">Continue reading</a>
        </div>
        <svg class="bd-placeholder-img card-img-right flex-auto d-none d-lg-block" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect fill="#55595c" width="100%" height="100%"/><text fill="#eceeef" dy=".3em" x="50%" y="50%">Thumbnail</text></svg>
      </div>
  </div>
</div>

{% endblock %}
