/* CSS Dark Theme */
body{
  background-color:#121212;
}

#fullContainer
{
  background-color:#121212;
}

.nav a
{
    color:#FFF !important;
}

.blog-header-logo
{
  color:#FFF;
}

p, h1, h2, h3, h4, h5, h6, th, tr
{
  color:#FFF;
}

#dark-card{
  background-color:#272727;
  color:#FFF;
}

.card-body a{
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

#darkText
{
  color:#FFF;
}