/* CSS Dark Theme */
body{
    background-color: #FFF;
}

#fullContainer
{
  background-color:#FFF;
}

.nav a
{
    color: none;
}
#dark-card{
  background-color:none;
  color:none;
}

#dark-card a{
  color:none;
  background-color: none;
  border-color: none;
}

#darkText
{
  color:#000;
}

p, h1, h2, h3, h4, h5, h6, th, tr, a
{
  color:none;
}